/* ******************************************************* 1920x945 ********************************************************/
@import url('../Styles/articleTwo-layout/articleTwo-layout-1920/articleTwo-1920.css');

/* ******************************************************* 1500 ********************************************************/
@import url('../Styles/articleTwo-layout/articleTwo-layout-1500/articleTwo-1500.css');

/* ******************************************************* 1200 ********************************************************/
@import url('../Styles/articleTwo-layout/articleTwo-layout-1200/articleTwo-1200.css');

/* ******************************************************* 900 ********************************************************/
@import url('../Styles/articleTwo-layout/articleTwo-layout-900/articleTwo-900.css');

#style-2::-webkit-scrollbar {
    width: 8px;
    background-color: #FFC107;
    border-radius: 10px;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #FFC107;
}

.social-item {
    color: #FFC107;
    text-decoration: none;
    background-color: transparent;
}