form {
    border: 1px solid #cf0a0a;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

.class-h1 {
    color: #cf0a0a;
}