<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link href="/Webpack/src/client/styles/resets.css">
    <link href="/Webpack/src/client/styles/base.css">
    <link href="/Webpack/src/client/styles/header.css">
    <link href="/Webpack/src/client/styles/form.css">
    <link href="/Webpack/src/client/styles/footer.css">
</head>
<h1 class="class-h1">Test title</h1>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return handleSubmit(event)">
                <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                <input type="submit" name="" value="submit" onclick="return handleSubmit(event)" onsubmit="return handleSubmit(event)">
            </form>
            <section>

                <section>
                    <strong>Form Results:</strong>
                    <div id="results"></div>
                </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>

</body>

</html>